<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletController</servlet-name>
        <servlet-class>Controller.ServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaController</servlet-name>
        <servlet-class>Controller.CaptchaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doDeposit</servlet-name>
        <servlet-class>Controller.doDeposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doWithdraw</servlet-name>
        <servlet-class>Controller.doWithdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasController</servlet-name>
        <servlet-class>Controller.ForgetPasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>Controller.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatementController</servlet-name>
        <servlet-class>Controller.StatementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>Controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doTransfer</servlet-name>
        <servlet-class>Controller.doTransfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletController</servlet-name>
        <url-pattern>/ServletController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimpleCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCaptcha</servlet-name>
        <url-pattern>/simpleCaptcha.jpg</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>simpleCaptcha.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>CaptchaController</servlet-name>
        <url-pattern>/CaptchaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doDeposit</servlet-name>
        <url-pattern>/doDeposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doWithdraw</servlet-name>
        <url-pattern>/doWithdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasController</servlet-name>
        <url-pattern>/ForgetPasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/ChangePassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatementController</servlet-name>
        <url-pattern>/StatementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doTransfer</servlet-name>
        <url-pattern>/doTransfer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
</web-app>
